* {
  box-sizing: border-box;
}

:root {
  font-family: monospace;
  line-height: 1.5;

  color-scheme: light dark;
}

textarea {
  width: 100%;
  resize: none;
  min-height: 40px;
  field-sizing: content;
}

fieldset {
  display: grid;
  gap: 0.25rem;
}

dialog {
  width: calc(100% - 4rem);
  max-width: 40rem;

  height: calc(100% - 4rem);
  max-height: 40rem;
}
